.card-area {
  display: flex;
  width: 35vw;
  margin: 1rem;
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: rgb(235, 238, 240) 1px solid;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-size: 2rem;
  width: 30vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.548);
  position: relative;
}
.upper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.upper-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}

.username {
  display: flex;
  text-align: center;
  font-size: 12px;
  padding-left: 0;
  width: 100%;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  border-bottom: 0.5px solid black;
}
.number-of-likes {
  display: flex;
  margin-left: auto;
  font-weight: 600;
}
.meme-image {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.upper-top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.meme-identification {
  font-size: 1rem;
  white-space: nowrap;
  color: rgb(142, 142, 142);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffefe;
  border-radius: 5px;
  min-width: 100%;
}

/*PENCIL*/
.edit-mode {
  position: absolute;
  right: 5px;
}
.edit-mode svg {
  height: 25px;
}

.expanded-pencil {
  height: auto;
  width: 210px;
  position: absolute;
  top: 2rem;
  right: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
}
.expanded-pencil div {
  padding: 1rem;
  transition: background 500ms;
  border-radius: 10px;
}
.expanded-pencil div:hover {
  background-color: rgba(228, 228, 228, 0.37);
  border-radius: 10px;
}

.makeStyles-drawerPaper-10 {
  max-width: 40vw;
}
.expanded-pencil span {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}
.edit {
  width: 100%;
  display: flex;
}
.delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*End Of Pencil*/
.meme-title {
  padding: 0.25rem;
  padding-left: 0;
  margin: 0.5rem 0;
  font-size: 20px;
  font-weight: 500;
}
.lower {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 1rem;
}

.lower img,
.lower svg {
  cursor: pointer;
  height: 30px;
}

/*
  Heart icon
*/
.inactive-heart {
  fill: none;
  stroke: black;
}
@keyframes hearted {
  0% {
    opacity: 48%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.inactive-heart:hover {
  stroke: red;
}
.active-heart {
  stroke: black;
  fill: red;
  animation: hearted 0.2s steps(20);
}

/* thumbs up*/
.active-thumbup {
  stroke: rgb(89, 89, 197);
}
/*Thumbs Down */
.active-thumbdown {
  stroke: rgb(89, 89, 197);
}
/*Report */
.report:hover {
  stroke: orangered;
}

/* options expanded menu on card*/
.options-expanded {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 120px;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: white;
  padding: 10px;
  margin-left: 14rem;
  margin-top: 29rem;
  border: 1px solid black;
  z-index: 2;
}
.option1,
.option2,
.option3 {
  display: flex;
  width: 100%;
  height: 30px;
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.option1 span,
.option2 span {
  text-align: center;
}
.option1:hover,
.option2:hover,
.option3:hover {
  background-color: gainsboro;
}
.options-expanded span {
  padding-bottom: 7px;
}
.expanded {
  width: 100%;
}
.report-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  width: 100%;
}
.report-group > span {
  padding-left: auto;
}

/* responsiveness <3 */
@media only screen and (max-width: 600px) {
  .upper-top span {
    font-size: 1rem;
  }
  .card-area,
  card {
    width: 75vw;
  }
  .inactive-heart:hover {
    stroke: none;
  }
}
