.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.return-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-top: 2rem;
}
