.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  color: var(--text-color);
}
.dashboard {
  width: 100%;
  display: flex;
  justify-content: center;
}
.dashboard-content {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 10rem;
  max-width: 1200px;
  position: relative;
  flex-direction: column;
}
.section-header-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
}
.section-header-title {
  max-width: 800px;
  padding: 0.5rem 0;
  width: 35vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ea3788;
  font-weight: 600;
  font-size: 2rem;
  border-bottom: 1px solid #b9b9b91c;
}

.return-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-top: 2rem;
}
.thanks-box {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}
.thanks-box span {
  padding: 1rem 4rem;
}
.thanks-title {
  font-size: 1.5rem;
}
.discord-invite {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.discord-invite a {
  font-size: 0.95rem;
  width: 100%;
  color: #ef9898;
  text-align: center;
}
.thanks-box svg {
  stroke: white;
}
.close-thanks-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-thanks-box svg {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.25rem;
}
.end-of-memes {
  font-size: 1.4rem;
  color: var(--text-color);
  margin: 2rem;
  font-weight: 500;
}
@media only screen and (max-height: 825px) and (max-width: 500px) {
  .main-content {
    margin-top: 2rem;
  }
  .end-of-memes {
    font-size: 1.4rem;
    margin: 3rem 2rem;
    font-weight: 500;
  }
  .card-area {
    margin: 0 2.5rem;
  }
  .thanks-box {
    height: 100%;
    padding: 0;
  }
  .thanks-title {
    margin-top: 2rem;
    font-size: 1.25rem !important;
  }
  .thanks-title span {
    font-size: 2rem;
  }
  .thanks-box span {
    font-size: 0.85rem;
    text-align: left;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-height: 570px) and (max-width: 330px) {
  .thanks-box {
    height: 100%;
    padding: 0;
  }

  .thanks-title {
    margin-top: 2rem;
    font-size: 1rem !important;
    text-align: center !important;
  }
  .thanks-title span {
    font-size: 2rem;
  }
  .thanks-box span {
    font-size: 0.75rem;
    text-align: left;
    padding: 1rem 2rem;
  }
  .discord-invite a {
    font-size: 0.75rem;
  }
}

/* When the largest mobile phone is detected */
@media only screen and (max-height: 900px) and (max-width: 500px) {
  .dashboard-content {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    font-weight: 400;
    margin: 0;
  }
  .card-area {
    width: 75vw;
    display: flex;
    /* width: 35vw; */
    margin: 0rem 2.5rem;
    /* max-width: 800px; */
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--line);
    padding-bottom: 1rem;
  }
  .card {
    width: 100%;
  }
}
