.navbar-container {
  box-sizing: border-box;
  width: 100%;
  z-index: 5;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #00000017;
  padding: 0.5rem;
  min-height: 62px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-content {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  display: flex;
}
.navbar-logo {
  margin-left: 0.7rem;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-size: 2rem;
}
.navbar-logo svg {
  stroke: black;
}
.navbar-logo span {
  margin-left: 1rem;
  color: white;
  font-size: 2rem;
}

.navbar-avatar {
  width: 68px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.navbar-avatar-container {
  background-color: #00000014;
  border-radius: 50%;
}

.navbar-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
}
