.password-reset-container {
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(196, 196, 196);
  width: 100%;
  padding: 1rem;
  margin: 1rem;
}
.password-reset-container span {
  padding: 1rem;
}
.password-reset-success-prompt {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
}
.password-reset-prompt {
  margin-bottom: 1rem;
  padding-bottom: auto;
}
