.rightsidebar-fixed {
  height: 100vh;
  max-width: 400px;
  width: 20vw;
  position: sticky;
  overflow: hidden;
  right: 0;
  top: 0;
  color: white;
  border-left: 0.5px solid rgba(255, 255, 255, 0.212);
}

.rightsidebar-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  height: 100%;
}
.rightsidebar-main-section {
  display: flex;
  margin: 2rem 0 0 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.daily-counter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.main-section-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.rightsidebar-avatar {
  padding: 1rem;
  width: 100%;
}
.rightsidebar-user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}
.rightsidebar-user-stats {
  margin: 1rem 1rem 0 1rem;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  font-size: 1.25rem;
}

.rightsidebar-crown-count {
}

.rightsidebar-secondary-section {
  color: var(--text-color);
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 1rem;
}

.daily-meme-lord-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: #00000038;
  border-radius: 20px;
}
.daily-meme-lord {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}
