.sidebar-fixed {
  height: 90vh;
  width: 20vw;
  max-width: 400px;
  display: flex;
  background-color: var(--bg);
  overflow: hidden;
  top: 76px;
  color: #fbfaf8;
  min-width: 285px;
  top: 80px;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: auto;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  /* border-right: 0.5px solid rgba(255, 255, 255, 0.212); */
}
.sidebar-create-post {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 80%;
  border-radius: 20px;
  margin: 0 2rem;
  font-weight: 550;
}
.sidebar-create-post svg {
  padding-left: 10px;
  stroke: black;
  width: 30px;
}
.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.9rem;
  font-weight: 600;
  font-size: 2rem;
}
.sidebar-logo span {
  margin-left: 2px;
  stroke: #4ea5d9;
  stroke: #00a7e1 !important;
  stroke: #ea3788;
}
.sidebar-logo svg {
  width: 50px;
  height: 50px;
}
.sidebar-user-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sidebar-avatar-container {
  display: flex;
  height: 92px;
  border-radius: 20px;
  width: 92px;
  justify-self: center;
  align-items: center;
}
.sidebar-avatar {
  height: 100%;
  border-radius: 50%;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.sidebar-username {
  font-weight: 600;
  margin: 1rem 0 0 0;
}

/* Upload Button */
.upload-meme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: #1e2026;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 4px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 15px;
}
.upload-meme-button:hover {
  transition: all var(--speed);
  filter: brightness(1.5);
  border: white 1px solid;
}
.sidebar-navigation {
  /* border-top: 1px solid rgba(207, 207, 207, 0.13); */
  font-size: 0.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
}

.sidebar-navigation-icon-active {
}
.navigation-group-logout {
  border-top: 1px solid rgba(209, 209, 209, 0.13);
  padding-top: 2rem;
}

.navigation-group {
  padding: 0.9rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 500;
}

.navigation-group-active {
  color: var(--primary-accent);
  font-weight: 700;
}
.navigation-group svg,
.logout-container svg {
  width: 36px;
  height: 36px;
}
.navigation-group-text {
  margin-left: 1.5rem;
}
.navigation-group-items {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation-group-items svg {
  stroke-width: 0.5px;
  stroke: black;
}

.sidebar-login {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  border-top: 1px solid rgba(141, 141, 141, 0.288);
}
.sidebar-login svg {
  margin-left: 1px;
}
.navigation-settings-icon svg {
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 50%;
  padding: 2px;
  stroke: white;
}
.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Notification bell & Alert*/
.notification-container {
  display: flex;
  position: relative;
}

.notification-alert {
  font-size: 0.85rem;
  z-index: 200000;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  right: 0;
  top: 0px;
  display: flex;
  background-color: var(--primary-accent);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  line-height: 10px;
  white-space: nowrap;
  box-sizing: content-box;
  text-align: center;
}
.notification-alert-number {
  color: white;
  line-height: 10px;
  display: inline-block;
  text-align: start;
}

/*Settings components*/
.sidebar-navigation-settings-header {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.sidebar-navigation-settings-header span {
  font-size: 1.6rem;
  margin-left: 2rem;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*CSS Transition*/
.navigation-primary-enter {
  position: absolute;
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
.navigation-primary-enter-active {
  position: absolute;
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.navigation-primary-exit {
  position: absolute;
}
.navigation-primary-exit-active {
  transform: translateX(-160%);
  transition: all var(--speed) ease;
}

.navigation-secondary-enter {
  position: absolute;
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
.navigation-secondary-enter-active {
  position: absolute;
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.navigation-secondary-exit {
}
.navigation-secondary-exit-active {
  position: absolute;
  transform: translateX(140%);
  transition: all var(--speed) ease;
}

@media only screen and (min-height: 900px) {
  .navigation-group-text {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .navigation-group {
    margin: 1.25rem 0;
  }
}
