.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid #00000033; */
  border-radius: 30px;
  margin: 2rem;
  background-color: #ffffff05;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user-profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-profile-cover-photo {
  height: 300px;
  width: 100%;
  background: no-repeat center/80% url('../Assets/doge.svg');
  border-radius: 20px;
  background-color: var(--hover);
}
.user-profile-avatar {
  height: 40px;
  border-radius: 50%;
  background-color: white;
}
.user-avatar-container {
  display: flex;
  height: 122px;
  border-radius: 50%;
  margin-top: -10px;
  width: 122px;
  justify-self: center;
  align-items: center;
  background-color: white;
}
.user-username {
  color: var(--text-color);

  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.user-avatar {
  height: 100%;
  border-radius: 50%;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.user-top-section {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.user-profile-stats-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  justify-content: space-evenly;
}
.user-profile-stats {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  width: 100%;
  align-items: center;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 600;
  flex-wrap: wrap;
}

.user-follower-count {
}
.user-stat-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-profile-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: white;
}
.user-profile-post-header {
  display: flex;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  color: grey;
}
.user-profile-post-header-active {
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color);
  padding-bottom: 2rem;
  border-bottom: 3px solid var(--text-color);
}

.user-profile-posts-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile-navigation-container {
  display: flex;
}
.user-stat-title {
  color: grey;
}
.user-follow-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
  cursor: pointer;
}

@keyframes appearButton {
  from {
    opacity: 40%;
  }
  to {
    opacity: 100%;
  }
}

.user-follow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  font-weight: 600;
  background-color: var(--primary-accent);
  border: 2px solid var(--primary-accent);

  padding: 1rem;
  margin: 0 2rem;
  font-size: 1.25rem;
  border-radius: 20px;
  animation: appearButton var(--speed);
}
.user-follow-button-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  font-weight: 600;
  border: 2px solid var(--primary-accent);
  padding: 1rem;
  margin: 0 2rem;
  font-size: 1.25rem;
  border-radius: 20px;
  background-color: var(--highlight);
  animation: appearButton var(--speed);
}

.user-follow-button-active-alt {
  background-color: var(--primary-accent);
}
.user-follow-button:hover {
}
.memes-content {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
  align-items: center;
}
.title-container {
  margin-left: 5px;
  padding: 0.5rem;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  /* background-color: var(--primary-accent); */
  color: var(--neon-font-color);
  /* text-shadow: 2px 2px var(--highlight); */
  /* text-shadow: 0 0 7px var(--bg), 0 0 10px var(--bg), 0 0 21px var(--bg), 0 0 42px var(--primary-accent), 0 0 82px var(--primary-accent), 0 0 92px var(--primary-accent), 0 0 102px var(--primary-accent), 0 0 151px var(--primary-accent); */
  text-shadow: -1px -1px 1px var(--light-highlight),
    -1px 1px 1px var(--highlight), 1px -1px 1px var(--highlight),
    1px 1px 1px var(--highlight), 0 0 3px var(--highlight),
    -2px 0 2px var(--light-highlight), -2px 0 4px var(--light-highlight),
    2px 0 2px var(--light-highlight), 2px 0 4px var(--light-highlight),
    0 0 2px var(--light-highlight), 0 0 4px var(--light-highlight),
    0 0 10px var(--light-highlight), 0 0 20px var(--light-highlight),
    0 0 15px var(--highlight), 0 0 20px var(--highlight),
    0 0 40px var(--light-highlight), 0 0 50px var(--light-highlight),
    0 0 200px var(--light-highlight), 0 0 200px var(--light-highlight);
}
