@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  height: 100%;
  background-color: #4c4d62 !important;
}

.App {
  text-align: center;
  font-family: "Roboto";
}
span {
  cursor: pointer;
}

img {
  cursor: pointer;
}
svg {
  cursor: pointer;
}
