body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  z-index: 1000;
}

:root {
  /* --bg: #272932; */
  --light-bg: #4c4d62;
  --bg-accent: #b74f6f;
  /* --pink: #ea3788; */
  /* --blue: #00a7e1; */

  /*BackgroundColor presets*/
  --light-bg: #ffffff;
  --dark-bg: #272932;

  --light-text: #ffffff;
  --dark-text: black;

  --light-text-secondary: rgb(34, 34, 34);
  --dark-text-secondary: #fdfdfd91;

  --light-mode-shadow: #0000001f;
  --dark-mode-shadow: #ffffff3b;

  --light-mode-line: #00000054;
  --dark-mode-line: #ffffff3b;

  --light-mode-hover: #d4d4d473;
  --dark-mode-hover: #393c469f;

  --bg: var(--dark-bg);
  --text-color: var(--light-text);
  --secondary-text-color: var(--dark-text-secondary);
  --highlight: var(--purple-highlight);
  --light-highlight: var(--purple-light-highlight);

  --shadow: var(--dark-mode-shadow);
  --neon-font-color: #ffffffab;
  --line: var(--dark-mode-line);
  --hover: var(--dark-mode-hover);

  --additional-blue: #3777ff;

  /*ChangeColor Presets */
  --orange: #ff7f11;
  --red: #ff1b1c;
  --secondary-blue: #20a4f3;
  --green: #5eeb5b;
  --purple: #cb48b7;

  --orange-highlight: #ff80119c;
  --red-highlight: #ff1b1b9f;
  --secondary-blue-highlight: #20a6f3a1;
  --green-highlight: #5deb5b8a;
  --purple-highlight: #cb48b798;

  --orange-light-highlight: #ff801127;
  --red-light-highlight: #ff1b1b27;
  --secondary-blue-light-highlight: #20a6f334;
  --green-light-highlight: #5deb5b2c;
  --purple-light-highlight: #cb48b725;

  --primary-accent: var(--purple);

  /*End of ChangeColor Presets*/

  --nav-size: 80px;
  --border: 2px solid rgba(70, 70, 70, 0.342);
  --border-radius: 8px;
  --speed: 300ms;
  --delayed-speed: 10000ms;
  --window-width: 100vw;
}

/* ::-webkit-scrollbar {
  width: 10px;
} */
::-webkit-scrollbar-track {
  background-color: #272932;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(177, 177, 177);
  border-radius: 20px;
  background-clip: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
