.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-size: 2rem;
  width: 30vw;
  height: 100%;
  border: black 1px solid;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.548);
}
.upper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.username {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
  width: 100%;
}
.meme-image {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.meme-title {
  padding: 0.25rem;
}
.lower {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.lower img,
svg {
  cursor: pointer;
  width: 2rem;
}

/*
  Heart icon
*/
.inactive-heart {
  fill: none;
  stroke: black;
}

.inactive-heart:hover {
  stroke: red;
}
.active-heart {
  stroke: red;
  fill: red;
}

/* thumbs up*/
.active-thumbup {
  stroke: rgb(89, 89, 197);
}
/*Thumbs Down */
.active-thumbdown {
  stroke: rgb(89, 89, 197);
}
/*Report */
.report:hover {
  stroke: orange;
}
